SERVER_ADDRESS=http://localhost:3001
NEXT_PUBLIC_SERVER_ADDRESS=http://localhost:3001
NEXTAUTH_URL=http://localhost:3000

# Production
# SERVER_ADDRESS=https://phitron-sdt-assignment-05.vercel.app
# NEXT_PUBLIC_SERVER_ADDRESS=https://phitron-sdt-assignment-05.vercel.app
# NEXTAUTH_URL=https://phitron-sdt-assignment-05-frontend.vercel.app

NEXTAUTH_SECRET=TEST_SECRET
IMG_BB_KEY=img_bb_secret_key
